{{ attach_library('rmeble/swiper') }}

<div class="container">
	<h3 class="block-title">{{ "Similar realizations"|trans }}</h3>
	<div class="nodes related-realizations-swiper">
		<div class="swiper-wrapper">
			{{ nodes }}
		</div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</div>
