
    .node--id--10 .offer-teaser-image {
      background-image: url(/sites/default/files/styles/992x665/public/offer/kuchnie.jpg?itok=wt2Blb3i)!important;
    }
    @media (min-width: 0px) {
      .node--id--10 .offer-teaser-image {
        background-image: url(/sites/default/files/styles/575x330/public/offer/kuchnie.jpg?itok=dYthHS1f)!important;
      }
    }
    @media (min-width: 575px) {
      .node--id--10 .offer-teaser-image {
        background-image: url(/sites/default/files/styles/992x665/public/offer/kuchnie.jpg?itok=wt2Blb3i)!important;
      }
    }
    @media (min-width: 992px) {
      .node--id--10 .offer-teaser-image {
        background-image: url(/sites/default/files/styles/992x665/public/offer/kuchnie.jpg?itok=wt2Blb3i)!important;
      }
    }
    @media (min-width: 1200px) {
      .node--id--10 .offer-teaser-image {
        background-image: url(/sites/default/files/styles/992x665/public/offer/kuchnie.jpg?itok=wt2Blb3i)!important;
      }
    }
    .node--id--11 .offer-teaser-image {
      background-image: url(/sites/default/files/styles/992x665/public/offer/sypialnia.jpg?itok=d-WbEcGg)!important;
    }
    @media (min-width: 0px) {
      .node--id--11 .offer-teaser-image {
        background-image: url(/sites/default/files/styles/575x330/public/offer/sypialnia.jpg?itok=MTQCOrns)!important;
      }
    }
    @media (min-width: 575px) {
      .node--id--11 .offer-teaser-image {
        background-image: url(/sites/default/files/styles/992x665/public/offer/sypialnia.jpg?itok=d-WbEcGg)!important;
      }
    }
    @media (min-width: 992px) {
      .node--id--11 .offer-teaser-image {
        background-image: url(/sites/default/files/styles/992x665/public/offer/sypialnia.jpg?itok=d-WbEcGg)!important;
      }
    }
    @media (min-width: 1200px) {
      .node--id--11 .offer-teaser-image {
        background-image: url(/sites/default/files/styles/992x665/public/offer/sypialnia.jpg?itok=d-WbEcGg)!important;
      }
    }
    .node--id--12 .offer-teaser-image {
      background-image: url(/sites/default/files/styles/992x665/public/offer/lazienka.jpg?itok=nFItnIeY)!important;
    }
    @media (min-width: 0px) {
      .node--id--12 .offer-teaser-image {
        background-image: url(/sites/default/files/styles/575x330/public/offer/lazienka.jpg?itok=Iyu-o2od)!important;
      }
    }
    @media (min-width: 575px) {
      .node--id--12 .offer-teaser-image {
        background-image: url(/sites/default/files/styles/992x665/public/offer/lazienka.jpg?itok=nFItnIeY)!important;
      }
    }
    @media (min-width: 992px) {
      .node--id--12 .offer-teaser-image {
        background-image: url(/sites/default/files/styles/992x665/public/offer/lazienka.jpg?itok=nFItnIeY)!important;
      }
    }
    @media (min-width: 1200px) {
      .node--id--12 .offer-teaser-image {
        background-image: url(/sites/default/files/styles/992x665/public/offer/lazienka.jpg?itok=nFItnIeY)!important;
      }
    }
    .node--id--5 .image-realization-teaser {
      background-image: url(/sites/default/files/styles/1400x730/public/realization/kuchnia-klasyczna.jpg?itok=yBQPhEMh)!important;
    }
    @media (min-width: 0px) {
      .node--id--5 .image-realization-teaser {
        background-image: url(/sites/default/files/styles/575x400/public/realization/kuchnia-klasyczna.jpg?itok=7LmyHI8h)!important;
      }
    }
    @media (min-width: 575px) {
      .node--id--5 .image-realization-teaser {
        background-image: url(/sites/default/files/styles/992x495/public/realization/kuchnia-klasyczna.jpg?itok=Mm-cAH7k)!important;
      }
    }
    @media (min-width: 992px) {
      .node--id--5 .image-realization-teaser {
        background-image: url(/sites/default/files/styles/1400x730/public/realization/kuchnia-klasyczna.jpg?itok=yBQPhEMh)!important;
      }
    }
    @media (min-width: 1200px) {
      .node--id--5 .image-realization-teaser {
        background-image: url(/sites/default/files/styles/1400x730/public/realization/kuchnia-klasyczna.jpg?itok=yBQPhEMh)!important;
      }
    }
    .node--id--5 .intro-image-small {
      background-image: url(/sites/default/files/styles/430x480/public/realization/blok-1_0.jpg?itok=W-YiEGYi)!important;
    }
    @media (min-width: 0px) {
      .node--id--5 .intro-image-small {
        background-image: url(/sites/default/files/styles/430x480/public/realization/blok-1_0.jpg?itok=W-YiEGYi)!important;
      }
    }
    @media (min-width: 575px) {
      .node--id--5 .intro-image-small {
        background-image: url(/sites/default/files/styles/430x480/public/realization/blok-1_0.jpg?itok=W-YiEGYi)!important;
      }
    }
    @media (min-width: 992px) {
      .node--id--5 .intro-image-small {
        background-image: url(/sites/default/files/styles/430x480/public/realization/blok-1_0.jpg?itok=W-YiEGYi)!important;
      }
    }
    @media (min-width: 1200px) {
      .node--id--5 .intro-image-small {
        background-image: url(/sites/default/files/styles/430x480/public/realization/blok-1_0.jpg?itok=W-YiEGYi)!important;
      }
    }
    .node--id--5 .intro-image-big {
      background-image: url(/sites/default/files/styles/920x480/public/realization/kuchnia-klasyczna_3.jpg?itok=gdV0akwr)!important;
    }
    @media (min-width: 0px) {
      .node--id--5 .intro-image-big {
        background-image: url(/sites/default/files/styles/0x0/public/realization/kuchnia-klasyczna_3.jpg?itok=YshYsqnz)!important;
      }
    }
    @media (min-width: 575px) {
      .node--id--5 .intro-image-big {
        background-image: url(/sites/default/files/styles/920x480/public/realization/kuchnia-klasyczna_3.jpg?itok=gdV0akwr)!important;
      }
    }
    @media (min-width: 992px) {
      .node--id--5 .intro-image-big {
        background-image: url(/sites/default/files/styles/920x480/public/realization/kuchnia-klasyczna_3.jpg?itok=gdV0akwr)!important;
      }
    }
    @media (min-width: 1200px) {
      .node--id--5 .intro-image-big {
        background-image: url(/sites/default/files/styles/920x480/public/realization/kuchnia-klasyczna_3.jpg?itok=gdV0akwr)!important;
      }
    }
    .node--id--5 .intro-image-background {
      background-image: url(/sites/default/files/styles/450x330/public/realization/blok-2_1.jpg?itok=TqnsrJxK)!important;
    }
    @media (min-width: 0px) {
      .node--id--5 .intro-image-background {
        background-image: url(/sites/default/files/styles/0x0/public/realization/blok-2_1.jpg?itok=-DmsxwV9)!important;
      }
    }
    @media (min-width: 575px) {
      .node--id--5 .intro-image-background {
        background-image: url(/sites/default/files/styles/450x330/public/realization/blok-2_1.jpg?itok=TqnsrJxK)!important;
      }
    }
    @media (min-width: 992px) {
      .node--id--5 .intro-image-background {
        background-image: url(/sites/default/files/styles/450x330/public/realization/blok-2_1.jpg?itok=TqnsrJxK)!important;
      }
    }
    @media (min-width: 1200px) {
      .node--id--5 .intro-image-background {
        background-image: url(/sites/default/files/styles/450x330/public/realization/blok-2_1.jpg?itok=TqnsrJxK)!important;
      }
    }
    .node--id--6 .image-realization-teaser {
      background-image: url(/sites/default/files/styles/1400x730/public/realization/kuchnia-klasyczna_2.jpg?itok=xYC_Wm9e)!important;
    }
    @media (min-width: 0px) {
      .node--id--6 .image-realization-teaser {
        background-image: url(/sites/default/files/styles/575x400/public/realization/kuchnia-klasyczna_2.jpg?itok=g_SA9xNM)!important;
      }
    }
    @media (min-width: 575px) {
      .node--id--6 .image-realization-teaser {
        background-image: url(/sites/default/files/styles/992x495/public/realization/kuchnia-klasyczna_2.jpg?itok=3Q-99flf)!important;
      }
    }
    @media (min-width: 992px) {
      .node--id--6 .image-realization-teaser {
        background-image: url(/sites/default/files/styles/1400x730/public/realization/kuchnia-klasyczna_2.jpg?itok=xYC_Wm9e)!important;
      }
    }
    @media (min-width: 1200px) {
      .node--id--6 .image-realization-teaser {
        background-image: url(/sites/default/files/styles/1400x730/public/realization/kuchnia-klasyczna_2.jpg?itok=xYC_Wm9e)!important;
      }
    }
    .node--id--7 .image-realization-teaser {
      background-image: url(/sites/default/files/styles/1400x730/public/realization/kuchnia-rustykalna_1.jpg?itok=czBRmewk)!important;
    }
    @media (min-width: 0px) {
      .node--id--7 .image-realization-teaser {
        background-image: url(/sites/default/files/styles/575x400/public/realization/kuchnia-rustykalna_1.jpg?itok=fEC0Ibs2)!important;
      }
    }
    @media (min-width: 575px) {
      .node--id--7 .image-realization-teaser {
        background-image: url(/sites/default/files/styles/992x495/public/realization/kuchnia-rustykalna_1.jpg?itok=PvqKnYln)!important;
      }
    }
    @media (min-width: 992px) {
      .node--id--7 .image-realization-teaser {
        background-image: url(/sites/default/files/styles/1400x730/public/realization/kuchnia-rustykalna_1.jpg?itok=czBRmewk)!important;
      }
    }
    @media (min-width: 1200px) {
      .node--id--7 .image-realization-teaser {
        background-image: url(/sites/default/files/styles/1400x730/public/realization/kuchnia-rustykalna_1.jpg?itok=czBRmewk)!important;
      }
    }
    .node--id--7 .intro-image-small {
      background-image: url(/sites/default/files/styles/430x480/public/realization/blok-1_1.jpg?itok=xU6uP6Z7)!important;
    }
    @media (min-width: 0px) {
      .node--id--7 .intro-image-small {
        background-image: url(/sites/default/files/styles/430x480/public/realization/blok-1_1.jpg?itok=xU6uP6Z7)!important;
      }
    }
    @media (min-width: 575px) {
      .node--id--7 .intro-image-small {
        background-image: url(/sites/default/files/styles/430x480/public/realization/blok-1_1.jpg?itok=xU6uP6Z7)!important;
      }
    }
    @media (min-width: 992px) {
      .node--id--7 .intro-image-small {
        background-image: url(/sites/default/files/styles/430x480/public/realization/blok-1_1.jpg?itok=xU6uP6Z7)!important;
      }
    }
    @media (min-width: 1200px) {
      .node--id--7 .intro-image-small {
        background-image: url(/sites/default/files/styles/430x480/public/realization/blok-1_1.jpg?itok=xU6uP6Z7)!important;
      }
    }
    .node--id--7 .intro-image-big {
      background-image: url(/sites/default/files/styles/920x480/public/realization/kuchnia-modern_2.jpg?itok=8NGpjLM6)!important;
    }
    @media (min-width: 0px) {
      .node--id--7 .intro-image-big {
        background-image: url(/sites/default/files/styles/0x0/public/realization/kuchnia-modern_2.jpg?itok=T3_sOnLt)!important;
      }
    }
    @media (min-width: 575px) {
      .node--id--7 .intro-image-big {
        background-image: url(/sites/default/files/styles/920x480/public/realization/kuchnia-modern_2.jpg?itok=8NGpjLM6)!important;
      }
    }
    @media (min-width: 992px) {
      .node--id--7 .intro-image-big {
        background-image: url(/sites/default/files/styles/920x480/public/realization/kuchnia-modern_2.jpg?itok=8NGpjLM6)!important;
      }
    }
    @media (min-width: 1200px) {
      .node--id--7 .intro-image-big {
        background-image: url(/sites/default/files/styles/920x480/public/realization/kuchnia-modern_2.jpg?itok=8NGpjLM6)!important;
      }
    }
    .node--id--7 .intro-image-background {
      background-image: url(/sites/default/files/styles/450x330/public/realization/blok-2_2.jpg?itok=laXoK5u6)!important;
    }
    @media (min-width: 0px) {
      .node--id--7 .intro-image-background {
        background-image: url(/sites/default/files/styles/0x0/public/realization/blok-2_2.jpg?itok=DWjabdpF)!important;
      }
    }
    @media (min-width: 575px) {
      .node--id--7 .intro-image-background {
        background-image: url(/sites/default/files/styles/450x330/public/realization/blok-2_2.jpg?itok=laXoK5u6)!important;
      }
    }
    @media (min-width: 992px) {
      .node--id--7 .intro-image-background {
        background-image: url(/sites/default/files/styles/450x330/public/realization/blok-2_2.jpg?itok=laXoK5u6)!important;
      }
    }
    @media (min-width: 1200px) {
      .node--id--7 .intro-image-background {
        background-image: url(/sites/default/files/styles/450x330/public/realization/blok-2_2.jpg?itok=laXoK5u6)!important;
      }
    }
    .node--id--8 .image-realization-teaser {
      background-image: url(/sites/default/files/styles/1400x730/public/realization/kuchnia-modern_1.jpg?itok=I4Fi_bqc)!important;
    }
    @media (min-width: 0px) {
      .node--id--8 .image-realization-teaser {
        background-image: url(/sites/default/files/styles/575x400/public/realization/kuchnia-modern_1.jpg?itok=rEY_Iyno)!important;
      }
    }
    @media (min-width: 575px) {
      .node--id--8 .image-realization-teaser {
        background-image: url(/sites/default/files/styles/992x495/public/realization/kuchnia-modern_1.jpg?itok=We7cthOt)!important;
      }
    }
    @media (min-width: 992px) {
      .node--id--8 .image-realization-teaser {
        background-image: url(/sites/default/files/styles/1400x730/public/realization/kuchnia-modern_1.jpg?itok=I4Fi_bqc)!important;
      }
    }
    @media (min-width: 1200px) {
      .node--id--8 .image-realization-teaser {
        background-image: url(/sites/default/files/styles/1400x730/public/realization/kuchnia-modern_1.jpg?itok=I4Fi_bqc)!important;
      }
    }
    .node--id--1.slide-item {
      background-image: url(/sites/default/files/styles/1920x955/public/slider/slide1.jpg?itok=yU08kNz9)!important;
    }
    @media (min-width: 0px) {
      .node--id--1.slide-item {
        background-image: url(/sites/default/files/styles/575x330/public/slider/slide1.jpg?itok=B1Eh-qNz)!important;
      }
    }
    @media (min-width: 575px) {
      .node--id--1.slide-item {
        background-image: url(/sites/default/files/styles/992x550/public/slider/slide1.jpg?itok=AXwuGLMb)!important;
      }
    }
    @media (min-width: 992px) {
      .node--id--1.slide-item {
        background-image: url(/sites/default/files/styles/1920x955/public/slider/slide1.jpg?itok=yU08kNz9)!important;
      }
    }
    @media (min-width: 1200px) {
      .node--id--1.slide-item {
        background-image: url(/sites/default/files/styles/1920x955/public/slider/slide1.jpg?itok=yU08kNz9)!important;
      }
    }
    .node--id--2.slide-item {
      background-image: url(/sites/default/files/styles/1920x955/public/slider/slide2.jpg?itok=281hLxyi)!important;
    }
    @media (min-width: 0px) {
      .node--id--2.slide-item {
        background-image: url(/sites/default/files/styles/575x330/public/slider/slide2.jpg?itok=_zVJfNfJ)!important;
      }
    }
    @media (min-width: 575px) {
      .node--id--2.slide-item {
        background-image: url(/sites/default/files/styles/992x550/public/slider/slide2.jpg?itok=_mqmxY2A)!important;
      }
    }
    @media (min-width: 992px) {
      .node--id--2.slide-item {
        background-image: url(/sites/default/files/styles/1920x955/public/slider/slide2.jpg?itok=281hLxyi)!important;
      }
    }
    @media (min-width: 1200px) {
      .node--id--2.slide-item {
        background-image: url(/sites/default/files/styles/1920x955/public/slider/slide2.jpg?itok=281hLxyi)!important;
      }
    }
    .block--bundle--about .block-image {
      background-image: url(/sites/default/files/styles/960x960/public/aboutfrontpage/roman-back.jpg?itok=hcd2mUjz)!important;
    }
    @media (min-width: 0px) {
      .block--bundle--about .block-image {
        background-image: url(/sites/default/files/styles/0x0/public/aboutfrontpage/roman-back.jpg?itok=eToJWhRw)!important;
      }
    }
    @media (min-width: 575px) {
      .block--bundle--about .block-image {
        background-image: url(/sites/default/files/styles/960x960/public/aboutfrontpage/roman-back.jpg?itok=hcd2mUjz)!important;
      }
    }
    @media (min-width: 992px) {
      .block--bundle--about .block-image {
        background-image: url(/sites/default/files/styles/960x960/public/aboutfrontpage/roman-back.jpg?itok=hcd2mUjz)!important;
      }
    }
    @media (min-width: 1200px) {
      .block--bundle--about .block-image {
        background-image: url(/sites/default/files/styles/960x960/public/aboutfrontpage/roman-back.jpg?itok=hcd2mUjz)!important;
      }
    }
    .block--bundle--description_frontpage .descriptionblock-image {
      background-image: url(/sites/default/files/styles/1920x1300/public/block-description-frontpage/descriptionfrontpage-background.jpg?itok=7ZNMo_az)!important;
    }
    @media (min-width: 0px) {
      .block--bundle--description_frontpage .descriptionblock-image {
        background-image: url(/sites/default/files/styles/0x0/public/block-description-frontpage/descriptionfrontpage-background.jpg?itok=39ZSw595)!important;
      }
    }
    @media (min-width: 575px) {
      .block--bundle--description_frontpage .descriptionblock-image {
        background-image: url(/sites/default/files/styles/992x1300/public/block-description-frontpage/descriptionfrontpage-background.jpg?itok=5wuk92eG)!important;
      }
    }
    @media (min-width: 992px) {
      .block--bundle--description_frontpage .descriptionblock-image {
        background-image: url(/sites/default/files/styles/1920x1300/public/block-description-frontpage/descriptionfrontpage-background.jpg?itok=7ZNMo_az)!important;
      }
    }
    @media (min-width: 1200px) {
      .block--bundle--description_frontpage .descriptionblock-image {
        background-image: url(/sites/default/files/styles/1920x1300/public/block-description-frontpage/descriptionfrontpage-background.jpg?itok=7ZNMo_az)!important;
      }
    }
    .block--bundle--first_step .block-image {
      background-image: url(/sites/default/files/styles/850x600/public/first-step-frontpage/about.jpg?itok=UycVUPT0)!important;
    }
    @media (min-width: 0px) {
      .block--bundle--first_step .block-image {
        background-image: url(/sites/default/files/styles/575x250/public/first-step-frontpage/about.jpg?itok=96MI6p2u)!important;
      }
    }
    @media (min-width: 575px) {
      .block--bundle--first_step .block-image {
        background-image: url(/sites/default/files/styles/850x600/public/first-step-frontpage/about.jpg?itok=UycVUPT0)!important;
      }
    }
    @media (min-width: 992px) {
      .block--bundle--first_step .block-image {
        background-image: url(/sites/default/files/styles/850x600/public/first-step-frontpage/about.jpg?itok=UycVUPT0)!important;
      }
    }
    @media (min-width: 1200px) {
      .block--bundle--first_step .block-image {
        background-image: url(/sites/default/files/styles/850x600/public/first-step-frontpage/about.jpg?itok=UycVUPT0)!important;
      }
    }
    .block--bundle--footer_block .footer-block-image {
      background-image: url(/sites/default/files/styles/1920x270/public/footerblock/footer-background.jpg?itok=oQoFPjvx)!important;
    }
    @media (min-width: 0px) {
      .block--bundle--footer_block .footer-block-image {
        background-image: url(/sites/default/files/styles/575x270/public/footerblock/footer-background.jpg?itok=UFwKAMUB)!important;
      }
    }
    @media (min-width: 575px) {
      .block--bundle--footer_block .footer-block-image {
        background-image: url(/sites/default/files/styles/992x270/public/footerblock/footer-background.jpg?itok=j5XQZ3ot)!important;
      }
    }
    @media (min-width: 992px) {
      .block--bundle--footer_block .footer-block-image {
        background-image: url(/sites/default/files/styles/1920x270/public/footerblock/footer-background.jpg?itok=oQoFPjvx)!important;
      }
    }
    @media (min-width: 1200px) {
      .block--bundle--footer_block .footer-block-image {
        background-image: url(/sites/default/files/styles/1920x270/public/footerblock/footer-background.jpg?itok=oQoFPjvx)!important;
      }
    }
    .block--bundle--offer_frontpage .offer-item-1 {
      background-image: url(/sites/default/files/styles/480x800/public/offerfrontpage/offer1.jpg?itok=n4f62Zru)!important;
    }
    @media (min-width: 0px) {
      .block--bundle--offer_frontpage .offer-item-1 {
        background-image: url(/sites/default/files/styles/575x250/public/offerfrontpage/offer1.jpg?itok=XFYweAb8)!important;
      }
    }
    @media (min-width: 575px) {
      .block--bundle--offer_frontpage .offer-item-1 {
        background-image: url(/sites/default/files/styles/920x480/public/offerfrontpage/offer1.jpg?itok=qnDR71z8)!important;
      }
    }
    @media (min-width: 992px) {
      .block--bundle--offer_frontpage .offer-item-1 {
        background-image: url(/sites/default/files/styles/480x800/public/offerfrontpage/offer1.jpg?itok=n4f62Zru)!important;
      }
    }
    @media (min-width: 1200px) {
      .block--bundle--offer_frontpage .offer-item-1 {
        background-image: url(/sites/default/files/styles/480x800/public/offerfrontpage/offer1.jpg?itok=n4f62Zru)!important;
      }
    }
    .block--bundle--offer_frontpage .offer-item-2 {
      background-image: url(/sites/default/files/styles/480x800/public/offerfrontpage/offer2.jpg?itok=tZmoPEKd)!important;
    }
    @media (min-width: 0px) {
      .block--bundle--offer_frontpage .offer-item-2 {
        background-image: url(/sites/default/files/styles/575x250/public/offerfrontpage/offer2.jpg?itok=QFBCpSvO)!important;
      }
    }
    @media (min-width: 575px) {
      .block--bundle--offer_frontpage .offer-item-2 {
        background-image: url(/sites/default/files/styles/920x480/public/offerfrontpage/offer2.jpg?itok=ALyaLRmQ)!important;
      }
    }
    @media (min-width: 992px) {
      .block--bundle--offer_frontpage .offer-item-2 {
        background-image: url(/sites/default/files/styles/480x800/public/offerfrontpage/offer2.jpg?itok=tZmoPEKd)!important;
      }
    }
    @media (min-width: 1200px) {
      .block--bundle--offer_frontpage .offer-item-2 {
        background-image: url(/sites/default/files/styles/480x800/public/offerfrontpage/offer2.jpg?itok=tZmoPEKd)!important;
      }
    }
    .block--bundle--offer_frontpage .offer-item-3 {
      background-image: url(/sites/default/files/styles/480x800/public/offerfrontpage/offer3.jpg?itok=da631Ebk)!important;
    }
    @media (min-width: 0px) {
      .block--bundle--offer_frontpage .offer-item-3 {
        background-image: url(/sites/default/files/styles/575x250/public/offerfrontpage/offer3.jpg?itok=chbJ6OZv)!important;
      }
    }
    @media (min-width: 575px) {
      .block--bundle--offer_frontpage .offer-item-3 {
        background-image: url(/sites/default/files/styles/920x480/public/offerfrontpage/offer3.jpg?itok=2J0_8dec)!important;
      }
    }
    @media (min-width: 992px) {
      .block--bundle--offer_frontpage .offer-item-3 {
        background-image: url(/sites/default/files/styles/480x800/public/offerfrontpage/offer3.jpg?itok=da631Ebk)!important;
      }
    }
    @media (min-width: 1200px) {
      .block--bundle--offer_frontpage .offer-item-3 {
        background-image: url(/sites/default/files/styles/480x800/public/offerfrontpage/offer3.jpg?itok=da631Ebk)!important;
      }
    }
    .block--bundle--offer_frontpage .offer-item-4 {
      background-image: url(/sites/default/files/styles/480x800/public/offerfrontpage/offer4.jpg?itok=P_grME4a)!important;
    }
    @media (min-width: 0px) {
      .block--bundle--offer_frontpage .offer-item-4 {
        background-image: url(/sites/default/files/styles/575x250/public/offerfrontpage/offer4.jpg?itok=TDKsimmt)!important;
      }
    }
    @media (min-width: 575px) {
      .block--bundle--offer_frontpage .offer-item-4 {
        background-image: url(/sites/default/files/styles/920x480/public/offerfrontpage/offer4.jpg?itok=dVHUcjsB)!important;
      }
    }
    @media (min-width: 992px) {
      .block--bundle--offer_frontpage .offer-item-4 {
        background-image: url(/sites/default/files/styles/480x800/public/offerfrontpage/offer4.jpg?itok=P_grME4a)!important;
      }
    }
    @media (min-width: 1200px) {
      .block--bundle--offer_frontpage .offer-item-4 {
        background-image: url(/sites/default/files/styles/480x800/public/offerfrontpage/offer4.jpg?itok=P_grME4a)!important;
      }
    }