<div class="login-wrapper">
  <div class="login-form-wrapper">
    <a class="logo-top" href="{{ front_page }}"><img src="{{ main_logo }}" alt="{{ site_name }}" class="img-responsive" /></a>
    <span class="login-form-title">Zaloguj się</span>
    {{ login_form }}
  </div>
</div>
