#block-rmeble-breadcrumbs {
  text-align: right;
  margin: 3rem 0;
  @include lg {
    margin: 2rem 0 1rem;
  }
  @include md {
    margin: 2rem 0 3rem;
    text-align: center;
  }
  .breadcrumb {
    padding: 0 1.5rem;
    ol {
      display: inline-block;
      background-color: color(grayNumbers);
      padding: 0.5rem 2rem;
      li:not(:first-child) {
        &::before {
          content: "<";
        }
      }
      li {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 14px;
        font-family: $montserrat;
        font-weight: 400;
        @include md {
          font-size: 9px;
          line-height: 11px;
        }
        a {
          text-transform: uppercase;
          font-size: 12px;
          line-height: 14px;
          font-family: $montserrat;
          @include md {
            font-size: 9px;
            line-height: 11px;
          }
        }
      }
      li:last-child {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: calc(100% - 10px);
          height: 1px;
          background-color: color(black);
          @include md {
            display: none;
          }
        }
      }
    }
  }
}
